body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento interno da página */
    background-color: #FFF8DC;
    text-align: center; /* texto centralizado */
}
header {
    background-color: #050517;
    color: white;
    padding: 15px 0px; /* 15px (espaçamento interno acima e abaixo) e 0px (direita e esquerda) */
    font-size: 24px;
}
nav {
    background-color: #72b5a4;
    padding: 10px 9vw; /* espaçamento interno do menu */
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* espaço entre os elementos do menu */
    align-items: center; /* alinhamento na vertical */
}
#links-menu {
    display: flex;
    gap: 30px; /* distancia entre os itens do menu */    
}
nav a { /* configura os links do menu */
    color: #FFF8DC;
    text-decoration: none; /* não decora os links (underline, etc..) */
    padding: 10px 15px; /* (10px acima e abaixo) 15px (esquerda e direita) */
    font-size: 18px;
    background-color: #30706F;
    border-radius: 5px; /* bordas arredondadas */
    
}
img {
    width: 120px;
    height: auto;
    margin-right: 20px; /*espaçamento à direita*/
    border-radius: 10px;
}
.container {
    width: 80%; /* largura de 80% da largura da página */
    background-color: #e9ebda;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direita e à esquerda */
    margin: 20px auto;
    padding: 20px; /*espaçamento interno*/
    text-align: justify;
}
h2 {
    text-align: center;
}
ol li {
    padding-bottom: 10px;
}
table tr td{
    padding: 20px;
}
table {
    margin: 0 auto; /* centraliza a tabela na página */
}
.laranja {
    background-color: orange;
}
.letravermelha {
    color: red;
}
.preta {
    background-color: black;
    color: white;
}
.roxa {
    background-color: purple;
}
.verde {
    background-color: green;
}
.vermelha {
    background-color: red;
}
.cabecalho {
    background-color: navy;
    color: white;
    text-align: center;
}
.cabecalhoTab2{
    padding: 5px 5px 5px
}
.tab2Nmr {
    padding: 5px 5px 5px;
   text-align: center;
}
.fontes{
    padding-left: 570px;
    font-size: small;
}
.divcal {
    margin-bottom: 20px;
}
.tituloTabela {
    margin: 100px 10px 0px;
}
.fundoAzul {
    padding: 10px 5px 0px;
    border: 1px solid black;
    background-color: #87C3E0;
    margin-left: 20%;
    margin-right: 20%;
}
.tabela3 {
    text-align: center;
}
.celulasDiv {
    border-collapse: collapse;
    width: 100%;
    text-align: center; 
    width: 802px;
   
}
.thTabDiv{
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 8px;
    font-weight: bold;
    background-color: navy;
}

.sub-header {
    font-size: 12px;
    font-weight: normal;
    display: block;
    background-color: navy;
    color: white
}
.sub-header2 {
    display: block;
}
.fundoAzulTab3 {
    border: 2px solid rgb(196, 196, 171);
    background-color: #87C3E0;
    margin-left: 20%;
    margin-right: 20%;
}
#tab3 {
    padding: 0px 0px 50px;
}
.fundoCinza {
    background-color: grey;
}
.cabecalho2 {
    background-color: navy;
    color: white;
    text-align: center;
}
.thCabecalho2 {
    padding: 10px 15px;
}
.laranja2 {
    padding: 10px 150px;
    background-color: orange;
}
.preta2 {
    padding: 10px 150px;
    background-color: black;
    color: white;
}
.roxa2 {
    padding: 10px 150px;
    background-color: purple;
}
.verde2 {
    padding: 10px 150px;
    background-color: green;
}
.vermelha2 {
    padding: 10px 150px;
    background-color: red;
}
#pCentralizado {
    text-align: center;
}
.fundoAzulAlimentos {
    border: 2px solid rgb(196, 196, 171);
    background-color: #87C3E0;
    margin-left: 20%;
    margin-right: 20%;
    
}
.fundoAmarelo {
    border: 1px solid black;
    background-color: rgb(255, 229, 191);
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 20%;
    margin-right: 20%;
}
.animacao {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.animacao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #49C2B0;
    color: #FFF8DC;
    transition: .8s;
    width: 150px;
}
.fundoAzul3 {
    border: 2px solid rgb(196, 196, 171);
    background-color: #87C3E0;
    text-align: left;
    padding-left: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
.fundoAzulH3 {
    padding-left: 40px;
}
.lista {
    margin-left: 50px;
}
.tabelaCinza {
    background-color: rgb(175, 175, 175);
    margin-left: 50%;

}
.thTabelaCinza { 
    width: 500px;
    text-align: center;
}
.thTabelaCinza2 {
        text-align: center;
        width: 200px;
}
.consideracoes {
    text-align: center;
}