body {
    font-family: arial, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento interno da página */
    background-color: #f4f4f4;
    text-align: center; /* texto centralizado */
}
header {
    background-color: #28a745;
    color: white;
    padding: 15px 0px; /* 15px (espaçamento interno acima e abaixo) e 0px (direita e esquerda) */
    font-size: 24px;
}
nav {
    background-color: #007bff;
    padding: 10px; /* espaçamento interno do menu */
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* espaço entre os elementos do menu */
    align-items: center; /* alinhamento na vertical */
}
#links-menu {
    display: flex;
    gap: 30px; /* distancia entre os itens do menu */    
}
nav a { /* configura os links do menu */
    color: white;
    text-decoration: none; /* não decora os links (underline, etc..) */
    padding: 10px 15px; /* (10px acima e abaixo) 15px (esquerda e direita) */
    font-size: 18px;
    background-color: #0056b3;
    border-radius: 5px; /* bordas arredondadas */
}
img {
    width: 120px;
    height: auto;
    margin-right: 20px; /*espaçamento à direita*/
    border-radius: 10px;
}
.container {
    width: 80%; /* largura de 80% da largura da página */
    background-color: white;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direita e à esquerda */
    margin: 20px auto;
    padding: 20px; /*espaçamento interno*/
    text-align: justify;
}
h2 {
    text-align: center;
}
ol li {
    padding-bottom: 10px;
}
table tr td{
    padding: 20px;
}
table {
    margin: 0 auto; /* centraliza a tabela na página */
}
.laranja {
    background-color: orange;
}
.letravermelha {
    color: red;
}
.preta {
    background-color: black;
    color: white;
}
.roxa {
    background-color: purple;
}
.verde {
    background-color: green;
}
.vermelha {
    background-color: red;
}
.cabecalho {
    background-color: navy;
    color: white;
    text-align: center;
}
.subtxt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
}
.endereco {
    border: black;
    border-style: groove;
    padding: 10px;
}